@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 20px;
}

/*
  mermaid 스타일
*/
/* details[open] > summary {
  list-style-type: '[close] ';
}

details:not([open]) > summary {
  list-style-type: '[open] ';
} */

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
