@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-weight: 500;
  padding: 20px;
}

details > summary {
  list-style-type: '> ';
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

/* 
이런거 구현하려면 js로 하자
details:not([open]) summary ~ * {
  animation: sweep 0.5s ease-in-out;
} */

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
